.category-item{
      width: auto !important;
}

.category-item img {
    background: #fff;
    border-radius: 80px !important;
    box-shadow: 0 0 2px #ccc !important;
    height: 120px !important;
    margin: 1px 0 8px !important;
    /* object-fit: scale-down !important; */
    padding: 7px !important;
    transform: scale(1) !important;
    transition-duration: 0.4s !important;
    width: 120px !important;
}
  
.category-item:hover img{
      transform: scale(1.09) !important;
      cursor: pointer !important;
  }

  .category-item h6 {
      font-size: 13px;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }

  .slick-track {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        margin-top: 26px !important;
        transform: translate3d(0px, 0px, 0px);
  }

  .slick-prev{
      z-index:1000;
      left: -78px !important;
  }

  .slick-prev:before {
      content: '←';
      color: #D6D6D6;
      font-size: 33px;
  }

  .slick-next{
      z-index:1000;
      right: -13px !important;
  }

  .slick-next:before {
      content: '→';
      color: #D6D6D6;
      font-size: 33px;
  }